<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>dashbboard</title>
  <!-- <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"> -->
<!-- <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
 <div class="container">
  <div class="row row-gap-2">
    <div class="col-9 mx-auto shadow-sm text-center">
      <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button> -->

      <table class="table table-striped table-dark">
        <!-- Modal -->
        <h2>Student Sign-up Table</h2>
        <thead>
          <tr>
          <th>SN</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Edit</th>
          <th>Delete</th>
          </tr>
        </thead>
        <%result.map((user,index)=>{%>
          <tbody>
            <tr>
              <td><%=index+1%></td>
              <td><%=user.firstname%></td>
              <td><%=user.lastname%></td>
              <td><%=user.email%></td>
                <td>
                  <button class="btn btn-primary edit-btn" data-user-id="<%=user._id%>" data-bs-toggle="modal" data-bs-target="#exampleModal<%=user._id%>" type="">Edit</button>
              </td>
              <td>
                <form action="/student/delete" method="POST">
                  <input type="hidden" name="userEmail" value="<%=user.email%>">
                  <button class="btn btn-md btn-danger">Delete</button>
                </form>
                </td>
              <div class="modal fade" id="exampleModal<%=user._id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Update Details</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="/student/edit" method="post">
                      <div class="modal-body">
                        <input type="text" value="<%=user.firstname%>" class="form-control" placeholder="First Name" name="firstname"/>
                        <input type="text" value="<%=user.lastname%>" class="form-control" placeholder="Last Name" name="lastname"/>
                        <input type="text" value="<%=user.email%>" class="form-control" placeholder="Email" name="email"/>
                        <input type="text" value="<%=user.password%>" class="form-control" placeholder="Password" name="password"/>
                        <!-- <input type="text" class="user-id-input" value="" name="id"> -->
                        <input type="hidden" value="<%=user._id%>" name="id">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </tr>
          </tbody>
          <% }) %>
      </table>
    </div>
  </div>
 </div>

 <!-- <script>
  document.addEventListener('DOMContentLoaded', function () {
    const editButtons = document.querySelectorAll('.edit-btn');

    editButtons.forEach(button => {
      button.addEventListener('click', function () {
        const userId = button.getAttribute('data-user-id');
        const userInputField = document.querySelector('.user-id-input');
        
        // Set the value of the input field to the user's ID
        userInputField.value = userId;
      });
    });
  });
</script> -->
</body>
</html>